@model Garage3.Web.Models.ViewModels.DetailViewModel

@{
    ViewData["Title"] = "Collect";
}

<h1>Collect</h1>

<h3>Are you sure you want to collect this vehicle?</h3>

<partial name="_Details" />

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Collect" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>